@charset "utf-8";

body {
  color: #111;
  min-height: 740px;
  background: rgb(215, 215, 208);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(255, 255, 248)), to(rgb(215, 215, 208)));
  background: -webkit-radial-gradient(rgb(255, 255, 248), rgb(215, 215, 208));
  background:    -moz-radial-gradient(rgb(255, 255, 248), rgb(215, 215, 208));
  background:     -ms-radial-gradient(rgb(255, 255, 248), rgb(215, 215, 208));
  background:      -o-radial-gradient(rgb(255, 255, 248), rgb(215, 215, 208));
  background:         radial-gradient(rgb(255, 255, 248), rgb(215, 215, 208));
}

blockquote,
.notice,
.fallback-message {
  border: 0.5px solid rgba(17, 17, 17, 0.5);
  border-radius: 0.3rem;
  box-shadow: inset 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  margin: 1.3rem 1rem;
  padding: 1rem;
}

figure {
  max-width: 100%;
  display: inline-block;
  margin: 1em auto;
  text-align: center;
}

img {
  border: 0.5px solid rgba(17, 17, 17, 0.5);
}

.step {
  position: relative;
  width: 1280px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
	  box-sizing: border-box;
}

.impress-enabled .step,
.impress-enabled .substep {
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
       -o-transition: opacity 1s;
	  transition: opacity 1s;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
}

.impress-enabled .substep {
  opacity: 0;
}

.impress-enabled .step.active,
.impress-enabled .substep-active,
.impress-enabled .substep-visible {
  opacity: 1;
}

.half,
.third {
  display: block;
  float: left;
  padding: 0 1rem;
}

.half {
  width: calc(50% - 2rem);
}

.third {
  width: calc(33% - 2rem);
}
/* vim: set shiftwidth=2 foldmethod=indent : */
