@charset "UTF-8";

@import url("https://use.typekit.net/hny1sfi.css");
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");

body {
  font-family:  "eb-garamond", Palatino, "Book Antiqua", Georgia, serif;
  font-variant: oldstyle-nums proportional-nums;
  font-size: 32px;
  counter-reset: sidenote-counter;
  vertical-align: baseline;
  line-height: 1.3;
}

h1,
h2 {
  font-family:  "cormorant-garamond", "eb-garamond", Georgia, Times, serif;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}
h2 {
  text-align: center;
}

p.author,
p.date {
  font-size: 2.4rem;
}

h2,
span.subtitle {
  font-size: 3.2rem;
  font-style: italic;
  display: block;
}
h2 em,
h3 em,
span.subtitle em {
  font-style: normal;
}

h3 {
  font-weight: 400;
  font-style: italic;
}

.btn,
.sans,
.fallback-message {
  font-family: "kepler-std-semicondensed-dis", "league-gothic", "Arial Narrow", sans-serif;
}

h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul {
  font-size: 1.6rem;
}

h4,
h5,
dt {
  font-weight: 500;
}

dd {
  margin-left: 2em;
}

li ul,
li ol {
  margin: 1.3em 0;
}

ul li,
ol li,
ul li ul,
ol li ol {
  margin: 0;
}

/* Good alignment of dl */
div > dl {
  margin-top: 0;
  margin-bottom: 0;
}
div > dl > dt:first-child,
li > dl > dt:first-child {
  margin-top: 0;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  -webkit-padding-start: 5%;
}

/*********************
* Chapter Epigraphs *
*********************/
div.epigraph {
  margin: 5em 0;
}

/******************************
* CSL styling from Tufte-CSS *
******************************/
div.csl-bib-body {
  font-size: 1.6rem;
  line-height: 1.3;
}

div.csl-entry {
  clear: both;
  margin-top: .5rem;
}

.hanging div.csl-entry {
  margin-left: $type-size-4;
  text-indent: -2rem;
}

div.csl-left-margin {
  min-width: 20px;
  float: left;
}

div.csl-right-inline {
  margin-left: 20px;
  padding-left: 1rem;
}

div.csl-indent {
  margin-left: 20px;
}

div.hanging-indent{
  margin-left: 1.5rem;
  text-indent: -1.5rem;
}

/**************************
* Figures and marginalia *
**************************/
.sidenote-number,
.sidenote-number:after,
.sidenote:before {
  font-weight: 500;
}

.fluid-width-video-wrapper iframe {
  border-radius: 5px;
  margin-bottom: 1em;
}

span.sidenote,
span.marginnote {
  display: none;
  vertical-align: baseline;
  position: relative;
}

.margin-toggle:checked + .sidenote,
.margin-toggle:checked + .marginnote {
  display: block;
}

span.sidenote,
span.marginnote,
figcaption,
.align-right {
  font-weight: 500;
}

div.outset p:last-of-type {
  float: left;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}
.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote {
  text-indent: -0.4rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  left: -0.4rem;
  top: -0.5rem;
}

label {
  cursor: pointer;
}

blockquote .sidenote,
blockquote .marginnote {
  font-style: normal;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: inline;
}

/**************
* Typography *
**************/
.newthought,
dt,
dt > a,
h4,
h5,
h6 {
  font-variant: small-caps;
}

.newthought .smallcaps,
dt .smallcaps,
dt > a .smallcaps,
h4 .smallcaps,
h5 .smallcaps,
h6 .smallcaps {
  text-transform: uppercase;
}

/* Semantic emulation of NEWTHOUGHT
*
* .newthought provides no semantic cues in the markup.
* However, we can style semantic elements so that they
* look just like Tufte's emphasized paragraph openings.
* We do this to <h5> and <h6> by analogy with the LaTeX
* \paragraph and \subparagraph features. We have also
* thrown in <dt> because what else are we going to use
* definition lists for? */
dt,
h5,
h6 {
  float: left;
  margin: 0 16.5px 0 0;
  padding: 0;
}

/* ...third, we take care of the styling... */
dt,
dt > a,
h4,
h5,
h6 {
  font-style: normal;
}

/* Finally, we flush the <dt> inline with the <dd>.
* This reverses the margin setting on l.160 of _tufte.scss
*/
dt,
li:not(:first-child) {
  margin-top: 0;
}

/* Bonus: fix width of <dl> inside <li> */
li > dl,
li > dl > p {
  width: 100%;
}
/* Here there ends the semantic emulation of .newthought */

.sans {
  letter-spacing: .03em;
}

ul {
  list-style-type: "› ";
  margin-left: -40px; /* Safari-specific */
}

ul li p {
  text-indent: 0;
}

ul li p:first-child {
  display: inline;
}

/* Tabular numbers for list items, small-caps Roman numerals */
ol li::marker,
ul li::marker {
  font-variant: tabular-nums oldstyle-nums all-small-caps !important;
}

ul li::marker {
  content: "› ";
}

/* Typographically correct small caps. */
.smallcaps {
  font-variant: all-small-caps;
}

sup {
  font-weight: 500;
}

blockquote {
  font-style: normal;
}
blockquote footer {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: right;
}
blockquote footer::before {
  content: '— ';
}

figcaption {
  color: rgba(17, 17, 17, 0.7);
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0.3em;
  width: inherit;
}

/* A class to get outset dates in a résumé or CV */
.cv dt {
  font-variant: tabular-nums oldstyle-nums all-small-caps;
  font-weight: 400;
  margin-left: -6rem;
  margin-top: 0;
}
.cv dd {
  margin-left: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* A table with a totals line */
table.total {
  font-variant: tabular-nums oldstyle-nums;
}
table.total tbody tr:last-of-type td {
  border-top: 1px solid #111;
}

/*
* Enable hyphens on supported platforms
*/
article {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
	  hyphens: auto;
}
/* Sidenotes end up with a bunch of hyphens because they're so small */
.sidenote,
.marginnote {
  hyphens: none;
}

/* <details> is a little used collapsible block. */
details summary > p:first-child {
  display: inline;
}

/********************
* Widths of things *
********************/
div.table-wrapper {
  overflow-x: auto;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.fluid-width-video-wrapper {
  float: left; /* Allow caption to align to top of iframe container */
}

/*******************************
* Horizontal scrolling frames *
*******************************
*
* How-to: (the full class is optional but makes sense here)
* <div id="#fig:name" class="full">
*   <div class="h-scroll">
*     <img src="https://example.com/image.jpg">
*   </div>
* </div>
*******************************/
.h-scroll {
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
}
.h-scroll img {
  max-width: none;
  height: 720px;
  max-height: 90vh;
}

/*********
* Links *
*********/
a,
a:link,
a:visited {
  color: inherit;
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
       -o-transition: 0.5s;
	  transition: 0.5s;
}

a:hover,
a:focus {
  text-decoration: none !important;
}
/* vim: set shiftwidth=2 foldmethod=indent : */
